.widget-page-count {
	width:36px;
	height:24px;
	cursor:default;
	display:inline-block;
	background-color: rgb(255,255,255);
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.widget-page-count.drop-zone {
	border-left:2px solid red;
}